body {
  width: 300px;
  font-family: Arial, sans-serif;
  padding: 10px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.75rem
}

h2 {
  text-align: center;
}

.status {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem;
}

/* Status Indicator Dot */
.status-indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: orange; /* Default orange while loading */
  animation: pulse 2s infinite;
}

/* Pulsating Animation for Orange */
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 165, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 165, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 165, 0, 0);
  }
}

/* Pulsating Animation for Green */
@keyframes pulseGreen {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 128, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 128, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 128, 0, 0);
  }
}

/* Status Message */
.page-status {
  text-align: center;
  font-size: 13px;
  color: #333;
}

/* Reload Page Button */
.reload-button {
  display: block;
  padding: 5px 10px;
  font-size: 12px;
  background-color: #e74c3c; /* Red */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.reload-button:hover {
  background-color: #c0392b;
}

input[type="text"],
input[type="color"] {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.05);
}

input[type="color"] {
  height: 40px;
  width: 100%;
  cursor: pointer;
}

.color-picker-container {
  display: flex;
  align-items: center;
}

.color-picker-container label {
  margin-right: 10px;
  font-size: 14px;
}

#colorInput {
  flex: 1;
}

.auto-scroll-container,
.advanced-search-container {
  display: flex;
  align-items: center;
}

.auto-scroll-container input[type="checkbox"],
.advanced-search-container input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  cursor: pointer;
}

.result-count {
  font-size: 14px;
  color: #333;
  text-align: center;
}

button {
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transition: background-color 0.3s;
}

button:hover:not(:disabled) {
  background-color: rgba(0, 0, 0, 0.9);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:last-child {
  margin-bottom: 0;
}

/* Log Viewer Styles */
.log-viewer {
  border-top: 1px solid #ddd;
}

.log-viewer h3 {
  font-size: 16px;
  text-align: center;
}

.logs {
  max-height: 150px;
  overflow-y: auto;
  background-color: #f9f9f9;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.log-entry {
  font-size: 12px;
}

.log-entry:last-child {
  margin-bottom: 0;
}

.log-entry.gray {
  color: #888;
  opacity: 0.5;
}

.log-entry.color {
  color: #000;
  opacity: 1;
}
